body {
    background: white;
}

#headerTitle {
    background-color: rgb(21, 172, 213);
    color: white;
}

#projectsHeader{
    background-color: rgb(21, 172, 213);
    color: white;
}

#aboutMe {
    margin-left: 0px;
    background-color: rgb(21, 172, 213);;
}

#contactInfo {
   
    margin-left: auto;
}

#aboutMeSection {
    background-color: rgb(21, 172, 213);
    border: 3px dotted;
    color: white;
}

#contactInfoSection {
    background-color: rgb(21, 172, 213);
    border: 3px dotted;
    color: white;
}
