body {
    background: white;
    text-align: center;
}
#headerTitle {
    background-color: rgb(21, 172, 213);
    color: white;
}

#projectsHeader{
    background-color: rgb(21, 172, 213);
    color: white;
}

#aboutMe {
    margin-left: 0px;
}

