
#projectsHeader {
    text-align: center;
}
#projectInfo {
    border: 3px black dotted;
    margin-top: 25px;
    
}

#someProjects {
    text-align: center;
}

#myExperiences {
    text-align: center;
}

#videoDemo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#robotShooterDemo {
    text-align: center;
}