body {
    background: white;
}

#headerTitle {
    text-align: center;
}

#aboutMe {
    text-align: center;
}

#contactMe {
    text-align: center;
}

#contactInfo {
   
    margin-left: auto;
}

#aboutMeSection {
    border: 3px dotted black;
    border-bottom: 1px dotted black;
}

#contactInfoSection {
    border: 3px dotted black;
}

#profileImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#nameAge {
    text-align: center;
}

#aboutMeInfo {
    text-align: center;
}